.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginButton {
  background-color: transparent;
  border-style: solid;
  border-color: white;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin-top: 20px;
}

.loginButton:hover {
  background-color: #61dafb;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin-top: 20px;
}

.loginSignupButton{
  background-color: transparent;
  border-style: solid;
  border-color: white;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 15rem;
}

.loginSignupButton:hover {
  background-color: #61dafb;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin-top: 20px;
}

.togglePassword{
  background-color: transparent;
  margin-left: 1rem;
  border-color: white;
  border-radius: 100px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.login{
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 1);
  color: hotpink;
  font-family: Noteworthy;
  font-size: 1rem;
  font-weight: bold;
  /* border-radius:2rem; */
  margin: 8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .6);
}

.signup{
  text-align: center;
  padding: 1rem;
  background-color: #000;
  color: hotpink;
  font-family: Noteworthy;
  font-size: 1rem;
  font-weight: bold;
  /* border-radius:2rem; */
  margin: 8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .6);
}

.inputField{
  background:transparent;
  margin-left: 2rem;
  padding: .3rem;
  color: white;
  font-size: 1rem;
}

.fullHeader{
  position: fixed;
  width: 100%;
}

.header{
  text-align: center;
  /* position: fixed; */
  width: 100%;
  padding: 1rem;
  background-color: #000;
  color: hotpink;
  text-shadow: 2px 2px rgb(211, 48, 129);
  font-family: Noteworthy;
  font-size: 3rem;
  font-weight: bold;
}

.navigation {
  /* position: relative; */
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  padding-bottom: 1rem;
  color: white;
  text-decoration: underline;
}

.navLink:link{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navLink:visited{
  color: white;
}

.navLink:hover{
  color: hotpink;
  text-decoration: overline;
  font-weight: bold;
}

.homeImg {
  width: 100%;
  border: 1px solid black;
  position: fixed;
}

.homeWrapper{
  background-image: url('https://i.imgur.com/PSF02hd.png');
  background-repeat: no-repeat;
  padding-top: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homePageTextWrapper {
  background-color: rgba(0, 0, 0, .9);
  margin-left: 12rem;
  margin-right: 12rem;
  box-shadow: 0 4px 8px 0 black;
}

.homePageText {
  text-align: center;
  padding: 1rem;
  padding-bottom: 2rem;
  color: rgb(239, 199, 19);
  font-family: Noteworthy;
  font-size: 1.75rem;
}

.homePageText1 {
  text-align: center;
  padding: 1rem;
  color: rgb(178, 3, 3);
  font-family: Noteworthy;
  font-size: 1.75rem;
}

.homePageText2 {
  text-align: center;
  padding: 1rem;
  color: rgb(212, 80, 36);
  font-family: Noteworthy;
  font-size: 1.75rem;
}

.homePageText3 {
  text-align: center;
  padding: 1rem;
  color: rgb(24, 168, 56);
  font-family: Noteworthy;
  font-size: 1.75rem;
}

.welcomeText{
  background-color: #000;
  text-align: center;
  color: white;
  padding-bottom: 1rem;
}

.productWrapper{
  padding-top: 20vh;
}

.productHeader{
  padding-top: 100px;
  text-align: center;
  padding: 1rem;
  color: indigo;
  font-family: Noteworthy;
  font-size: 2rem;
  text-shadow: 1px 1px black;
  font-weight: bold;
}

.productList{
  padding-top:200px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  border-radius: 2rem;
}

.productCard{
  display: inline-block;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 2rem;
  margin: 10px;
  max-width: 300px;
  border-width: .1rem;
  text-align: center;
  border-style: solid;
  border-radius: 1rem;
  background-color:white;
  overflow-wrap: break-word;  
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .6);
}

.productImg{
  height: 10rem;
  width: 11rem;
}

.productName{
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: Noteworthy;
}

.addToCartButton{
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #5f5757;
  margin: 0.5rem 0;
  border-radius: 0.12rem;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.2s;
  background-color: transparent;
  cursor: pointer;
 }
 
 .addToCartButton:hover{
   color: black;
   background-color: transparent;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .6);
 }

 .addToCartButton:active{
   box-shadow: 0 0 0 0 rgba(0, 0, 0, .6);
   transform: translateY(3px);
 }

 .productsImg {
  position: absolute;
  bottom: 0;
 }

.about{
  padding-top: 20vh;
}

 .aboutImg{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  margin-left: 25rem;
  min-height: 20vh;
  display: fixed;
  flex-direction: column;
  align-items: center;
 }

 .faqsBack {
   background-image: url('https://www.theschoolrun.com/sites/theschoolrun.com/files/article_images/what_is_a_question_mark.png');
   min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

.aboutHead{
  font-family: Noteworthy;
  text-align: center;
  font-size: 2rem;
  text-shadow: 2px 2px black;
  font-weight: bold;
  color: rgb(23, 152, 23);
}

.aboutBody{
  background-color: rgba(23, 152, 23, .6);
  padding: 2rem;
  color: white;
  margin-left: 12rem;
  margin-right: 12rem;
  /* border-radius: 2rem; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .6);
}

.contactBack{
  padding-top: 20vh;
}

.contactHead{
  font-family: Noteworthy;
  text-align: center;
  font-size: 2rem;
  text-shadow: 2px 2px black;
  font-weight: bold;
  color: rgb(0, 34, 255);
}
.contactForm{
  text-align: center;
  padding: 2rem;
  background-color: rgba(0, 34, 255, 0.6);
  margin-left: 12rem;
  margin-right: 12rem;
  /* border-radius:2rem; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .6);
  color:white;
}

.contactInput{
  height: auto;
  width: 30rem;
  padding: 0.5rem;
  background-color:transparent;
  border-bottom: 1px solid black;
  border-top:transparent;
  border-left:transparent;
  border-right:transparent;
  font-family: "Helvetica Neue",Helvetica,Arial;
}

::-webkit-input-placeholder{
  color:white;
}

::-webkit-input{
  color:white;
  background-color:transparent;
}

.contactButton{
 display: inline-block;
 padding: 0.35em 1.2em;
 border: 0.1em solid #FFFFFF;
 margin: 0.5rem 0;
 border-radius: 0.12rem;
 box-sizing: border-box;
 text-decoration: none;
 font-weight: 300;
 transition: all 0.2s;
 background-color:transparent;
}

.contactButton:hover{
  color: 000;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .6);
}

.contactButton:active{
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .6);
  transform: translateY(3px);
}

.faqsBack{
  padding-top: 20vh;
}

.faqsHead{
  font-family: Noteworthy;
  text-align: center;
  text-shadow: 2px 2px black;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 0, 0);
}

.faqsBody{
  background-color: rgba(255, 0, 0, .9);
  padding: 2rem;
  color: white;
  margin-left: 12rem;
  margin-right: 12rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .6)
}

.cartHeader{
  font-family: Noteworthy;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px black;
  color: rgb(59, 196, 224);
}

.cartItem{
  display: inline-block;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 2rem;
  margin: 10px;
  text-align: center;
  background-color:white;
  border-radius: 2rem;
}

.cartContainer{
  background-color: rgba(59, 196, 224, 0.6);
  text-align: center;
  margin-left: 12rem;
  margin-right: 12rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .6);
}

.addButton{
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0.5rem 0;
  /* border-radius: 0.12rem; */
  border: 1px solid #000000;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.2s;
  background-color:transparent;
 }
 
 .addButton:hover{
   color: 000;
   background-color: transparent;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .6);
 }
 
 .addButton:active{
   box-shadow: 0 0 0 0 rgba(0, 0, 0, .6);
   transform: translateY(3px);
 }

 .removeButton{
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0.5rem 0;
  /* border-radius: 0.12rem; */
  border: 1px solid #000000;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.2s;
  background-color:transparent;
 }
 
 .removeButton:hover{
   color: 000;
   background-color: transparent;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .6);
 }
 
 .removeButton:active{
   box-shadow: 0 0 0 0 rgba(0, 0, 0, .6);
   transform: translateY(3px);
 }

.emptyCart{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: 6rem;
}

.checkoutStart{
  text-align: left;
  margin-left: 2rem;
  padding-top: 20vh;
}

.checkoutEnd{
  text-align: right;
  margin-right: 2rem;
  color:white;
}

.payPalButton{
  text-align: center;
  margin-right: 20rem;
  margin-left: 20rem;
}

.accountBack{
  padding-top: 20vh;
}

.accountHead{
  font-family: Noteworthy;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: violet;
  text-shadow: 2px 2px black;
}

.accountWrapper{
  background-color: violet;
  padding: 2rem;
  margin-left: 12rem;
  margin-right: 12rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .6);
}

.accountInfo{
  text-align: center;
}

.resetPasswordButton {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0.5rem 0;
  border-radius: 0.12rem;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.2s;
  background-color:transparent;
}

.resetPasswordButton:hover {
  background-color: transparent;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .6);
}

.resetPasswordButton:active{
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .6);
  transform: translateY(3px);
}

.thankYou{
  text-align: center;
  padding: 4rem;
}

.thankYouButton{
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0.5rem 0;
  border-radius: 0.12rem;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.2s;
  background-color:transparent;
}

.thankYouButton:hover{
  background-color: #1cbcb7;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .6);
}

.thankYouButton:active{
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .6);
  transform: translateY(3px);
}
